   * {
     margin: 0;
     padding: 0;
   }

   .card-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 30px;
     padding: 100px 20px 0;
     width: 90vw;
     margin: auto;
   }

   .card {
     flex: 0 0 calc((80vw - 40px) / 3);
     max-width: 410px;
     border: 1px solid #ccc;
     border-radius: 10px;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
     box-sizing: border-box;
     background-color: #fff;
   }

   .card img {
     width: 100%;
     height: auto;
     border: none;
     border-radius: 6px;
     margin-bottom: 10px;
     display: block;
     object-fit: contain;

   }

   .card h3 {
     font-size: 20px;
     text-align: center;
     margin: 0 0 8px;
     padding: 16px;
     cursor: pointer;
   }

   .card h3:hover {

     color: #ed9c07;
   }

   .card  {
     transition: transform 0.3s ease;
   }

   .card:hover  {
     transform: scale(1.08);
   }

   .line {
     height: 1px;
     background: #0000007a;
     margin: 8px 0;


   }

   .description {
     text-align: center;
     font-size: 14px;
     color: #555;
     padding: 16px;
   }

   .see-more-wrapper {
     display: flex;
     justify-content: center;
     margin: 30px 0;
   }

   .see-more {
     margin-top: 30px;
     margin-bottom: 50px;
     padding: 10px 20px;
     font-size: 13px;
     background: #b30000;
     color: #fff;
     border: none;
     border-radius: 18px;
     cursor: pointer;
     width: 150px;
   }

   .see-more:hover {
     background: #8b0505;
   }

   .see-more::after {
     content: " \2193";
     font-size: 18px;
   }

   .hidden {
     display: none;
   }

   @media (max-width: 1024px) {
     .card {
       flex:  0 0 calc(33.333% - 20px);

     }
   }

   @media (max-width: 768px) {
     .card-container {
       margin: auto;
     }

     .card {
       flex: 0 0  100%;
     }
   }

   @media (max-width: 480px) {
     .card-container {
       margin: auto;
     }

     .card {
       flex: 0 0  100%;


     }
   }
